# H1: Data Science Tools and Ecosystem.

### **In this notebook, Data Science Tools and Ecosystem are summarized.**

#### Some of the popular languages that Data Scientists use are:
1. Modeling
2. Data Preparation
3. Data Understanding

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Dask
3. NumPy

| Data Science Tools|
| ------------------|
| Jupyter Notebook  |
| Apache Spark      |
| TensorFlow        |

### H3:Below are a few examples of evaluating arithmetic expressions in Python:
1. addition, 1 + 1
2. subtraction, 3 - 2

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly libraries by Data Science
- List Data Science tools

## H2:Lakshmi Holla
Xiurong Lai